#orders-table {
    box-shadow: 0rem 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1),0rem 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06);
    width: 100%;
}
#orders-table:only-child {
    width: 100%;
}

.selected, .next, .previous {
    transition: 0.3s ease all;
}
.selected :only-child, .next:only-child, .previous:only-child {
    transition: 0.3s ease all !important;
}
/* .selected:hover, .next:hover, .previous:hover {
    background-color: blueviolet;
}
.selected:hover :only-child, .next:hover :only-child, .previous:hover :only-child {
    color: white !important;
    
} */