@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Playfair+Display:wght@400;700&family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
}

* {
    transition: 0.5s;
    font-family: 'Roboto','Playfair Display', serif;
    box-sizing: border-box;
}

.link {
    text-decoration: none;
    margin: 7px;
}

hr {
    color: gray;
    width: 80%;
}